<h1>Editing Project-Contribution Association</h1>

<%= render 'form', display_line: @display_line, new_form: false %>

<%= link_to 'Show', @display_line %> |
<%= link_to 'Back', display_lines_path %>
