<h1 style="text-align:center">User Help Page</h1>
<ul>
    <li>UI</li>
    <ul>
        <li>How to filter by contributions/types.</li>
        <ol>
            <li>Click on the “Filter” button in the top left of the page.</li>
            <ul>
                <li>A side bar containing all available Types and Contributions should show up on the left of the page.</li>
            </ul>
            <li>Select the checkboxes of the types and/or contributions you want to see.</li>
            <li>Click on the “Search” button to filter the projects.</li>
            <ul>
                <li>Note: if there are no projects that match the criteria, no projects will be shown.</li>
            </ul>
        </ol>
        <li>How to remove the current filter and display all projects.</li>
        <ol>
            <li>
        </ol>
    </ul>
</ul>