<html>

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <style type="text/css">
        .lst-kix_nispgcqkwcd3-6>li:before {
            content: "\0025cf  "
        }

        ul.lst-kix_nispgcqkwcd3-8 {
            list-style-type: none
        }

        li.li-bullet-0:before {
            margin-left: -18pt;
            white-space: nowrap;
            display: inline-block;
            min-width: 18pt
        }

        .lst-kix_nispgcqkwcd3-5>li:before {
            content: "\0025a0  "
        }

        ul.lst-kix_nispgcqkwcd3-3 {
            list-style-type: none
        }

        ul.lst-kix_nispgcqkwcd3-1 {
            list-style-type: none
        }

        ul.lst-kix_nispgcqkwcd3-0 {
            list-style-type: none
        }

        .lst-kix_nispgcqkwcd3-2>li:before {
            content: ""counter(lst-ctn-kix_nispgcqkwcd3-2, decimal) ". "
        }

        ol.lst-kix_nispgcqkwcd3-2.start {
            counter-reset: lst-ctn-kix_nispgcqkwcd3-2 0
        }

        .lst-kix_nispgcqkwcd3-4>li:before {
            content: "\0025cb  "
        }

        ul.lst-kix_nispgcqkwcd3-7 {
            list-style-type: none
        }

        ul.lst-kix_nispgcqkwcd3-6 {
            list-style-type: none
        }

        ul.lst-kix_nispgcqkwcd3-5 {
            list-style-type: none
        }

        .lst-kix_nispgcqkwcd3-3>li:before {
            content: "\0025cf  "
        }

        ul.lst-kix_nispgcqkwcd3-4 {
            list-style-type: none
        }

        .lst-kix_nispgcqkwcd3-7>li:before {
            content: "\0025cb  "
        }

        .lst-kix_nispgcqkwcd3-2>li {
            counter-increment: lst-ctn-kix_nispgcqkwcd3-2
        }

        .lst-kix_nispgcqkwcd3-0>li:before {
            content: "\0025cf  "
        }

        .lst-kix_nispgcqkwcd3-8>li:before {
            content: "\0025a0  "
        }

        ol.lst-kix_nispgcqkwcd3-2 {
            list-style-type: none
        }

        .lst-kix_nispgcqkwcd3-1>li:before {
            content: "\0025cb  "
        }

        ol {
            margin: 0;
            padding: 0
        }

        table td,
        table th {
            padding: 0
        }

        .c4 {
            margin-left: 72pt;
            padding-top: 0pt;
            padding-left: 0pt;
            padding-bottom: 0pt;
            line-height: 1.15;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c6 {
            margin-left: 180pt;
            padding-top: 0pt;
            padding-left: 0pt;
            padding-bottom: 0pt;
            line-height: 1.15;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c0 {
            margin-left: 144pt;
            padding-top: 0pt;
            padding-left: 0pt;
            padding-bottom: 0pt;
            line-height: 1.15;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c3 {
            margin-left: 108pt;
            padding-top: 0pt;
            padding-left: 0pt;
            padding-bottom: 0pt;
            line-height: 1.15;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c5 {
            margin-left: 36pt;
            padding-top: 0pt;
            padding-left: 0pt;
            padding-bottom: 0pt;
            line-height: 1.15;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c2 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Arial";
            font-style: normal
        }

        .c11 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 26pt;
            font-family: "Arial";
            font-style: normal
        }

        .c7 {
            color: #ff0000;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Arial";
            font-style: normal
        }

        .c8 {
            padding-top: 0pt;
            padding-bottom: 3pt;
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: center
        }

        .c10 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.15;
            orphans: 2;
            widows: 2;
            text-align: center
        }

        .c9 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.15;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c13 {
            background-color: #ffffff;
            font-size: 10pt;
            font-family: "Verdana";
            font-weight: 400
        }

        .c15 {
            background-color: #ffffff;
            max-width: 468pt;
            padding: 72pt 72pt 72pt 72pt
        }

        .c1 {
            padding: 0;
            margin: 0
        }

        .c12 {
            margin-left: 144pt;
            height: 11pt
        }

        .c14 {
            height: 11pt
        }

        .title {
            padding-top: 0pt;
            color: #000000;
            font-size: 26pt;
            padding-bottom: 3pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .subtitle {
            padding-top: 0pt;
            color: #666666;
            font-size: 15pt;
            padding-bottom: 16pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        li {
            color: #000000;
            font-size: 11pt;
            font-family: "Arial"
        }

        p {
            margin: 0;
            color: #000000;
            font-size: 11pt;
            font-family: "Arial"
        }

        h1 {
            padding-top: 20pt;
            color: #000000;
            font-size: 20pt;
            padding-bottom: 6pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h2 {
            padding-top: 18pt;
            color: #000000;
            font-size: 16pt;
            padding-bottom: 6pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h3 {
            padding-top: 16pt;
            color: #434343;
            font-size: 14pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h4 {
            padding-top: 14pt;
            color: #666666;
            font-size: 12pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h5 {
            padding-top: 12pt;
            color: #666666;
            font-size: 11pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h6 {
            padding-top: 12pt;
            color: #666666;
            font-size: 11pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            font-style: italic;
            orphans: 2;
            widows: 2;
            text-align: left
        }
    </style>
</head>

<body class="c15">
    <div class="text-end">
        <%= link_to 'Back', projects_path, class: "a-primary" %>
    </div>
    <p class="c8 title" id="h.kaqgx9jodaca"><span class="c11">Admin Help Page</span></p>
    <ul class="c1 lst-kix_nispgcqkwcd3-0 start">
        <li class="c5 li-bullet-0"><span class="c2">Type</span></li>
    </ul>
    <ul class="c1 lst-kix_nispgcqkwcd3-1 start">
        <li class="c4 li-bullet-0"><span class="c2">What is a Type</span></li>
    </ul>
    <ol class="c1 lst-kix_nispgcqkwcd3-2 start" start="1">
        <li class="c3 li-bullet-0"><span class="c2">A type describes what the project is</span></li>
        <li class="c3 li-bullet-0"><span class="c2">Ex: Podcast, Music Video, etc.</span></li>
    </ol>
    <ul class="c1 lst-kix_nispgcqkwcd3-1">
        <li class="c4 li-bullet-0"><span class="c2">Creating a Type</span></li>
    </ul>
    <ol class="c1 lst-kix_nispgcqkwcd3-2 start" start="1">
        <li class="c3 li-bullet-0"><span class="c2">If a type does not already exist to describe a project, you can
                create a new one</span></li>
        <li class="c3 li-bullet-0"><span class="c2">Steps</span></li>
    </ol>
    <ul class="c1 lst-kix_nispgcqkwcd3-3 start">
        <li class="c0 li-bullet-0"><span class="c2">Start at the admin page</span></li>
        <li class="c0 li-bullet-0"><span class="c2">Scroll all the way down to the bottom</span></li>
        <li class="c0 li-bullet-0"><span class="c2">Click on the &lsquo;Types&rsquo; link</span></li>
        <li class="c0 li-bullet-0"><span class="c2">From that page, go to the bottom and click on the &lsquo;New Type
                Link&rsquo;</span></li>
        <li class="c0 li-bullet-0"><span class="c2">Fill out the text box labeled &lsquo;Type Name&rsquo; with your new
                type</span></li>
    </ul>
    <ul class="c1 lst-kix_nispgcqkwcd3-4 start">
        <li class="c6 li-bullet-0"><span class="c2">Optional: You can choose to attach an image that will be related to
                the type</span></li>
    </ul>
    <ul class="c1 lst-kix_nispgcqkwcd3-3">
        <li class="c0 li-bullet-0"><span class="c2">Finally, click on the &lsquo;Create Type&rsquo; button</span></li>
        <li class="c0 li-bullet-0"><span class="c2">Then click on the &lsquo;Back&rsquo; link to go back to the Types
                page</span></li>
        <li class="c0 li-bullet-0"><span class="c2">Click on the back link again to go back to the Admin page</span>
        </li>
    </ul>
    <ul class="c1 lst-kix_nispgcqkwcd3-1">
        <li class="c4 li-bullet-0"><span class="c2">Editing a type</span></li>
    </ul>
    <ol class="c1 lst-kix_nispgcqkwcd3-2 start" start="1">
        <li class="c3 li-bullet-0"><span class="c2">Let&#39;s say there is a type that already exists, but you want to
                make some changes</span></li>
    </ol>
    <ul class="c1 lst-kix_nispgcqkwcd3-3 start">
        <li class="c0 li-bullet-0"><span class="c2">I.e. attach a new image or even change the name</span></li>
    </ul>
    <ol class="c1 lst-kix_nispgcqkwcd3-2" start="2">
        <li class="c3 li-bullet-0"><span class="c2">Steps</span></li>
    </ol>
    <ul class="c1 lst-kix_nispgcqkwcd3-3 start">
        <li class="c0 li-bullet-0"><span class="c2">From the &lsquo;Types&rsquo; page, find the type you are looking for
                and click on the &lsquo;Edit&rsquo; link</span></li>
        <li class="c0 li-bullet-0"><span class="c2">Fill out all the changes necessary as if you were creating a new
                type</span></li>
        <li class="c0 li-bullet-0"><span class="c2">Click on the &lsquo;Create Type&rsquo; button</span></li>
        <li class="c0 li-bullet-0"><span class="c2">Then click on the &lsquo;Back&rsquo; link to go back to the Types
                page</span></li>
        <li class="c0 li-bullet-0"><span class="c2">Click on the back link again to go back to the Admin page</span>
        </li>
    </ul>
    <ul class="c1 lst-kix_nispgcqkwcd3-1">
        <li class="c4 li-bullet-0"><span class="c2">Destroying a type</span></li>
    </ul>
    <ol class="c1 lst-kix_nispgcqkwcd3-2 start" start="1">
        <li class="c3 li-bullet-0"><span class="c2">Let&rsquo;s say that a type is not relevant to you anymore and you
                want to delete it</span></li>
        <li class="c3 li-bullet-0"><span class="c2">Steps</span></li>
    </ol>
    <ul class="c1 lst-kix_nispgcqkwcd3-3 start">
        <li class="c0 li-bullet-0"><span class="c2">From the &lsquo;Types&rsquo; page, find the type you are looking for
                and click on &lsquo;Delete&rsquo; link</span></li>
        <li class="c0 li-bullet-0"><span class="c2">This will bring up a prompt asking you if you are sure you want to
                delete</span></li>
        <li class="c0 li-bullet-0"><span class="c2">If you are sure, click on &ldquo;OK&rdquo;</span></li>
        <li class="c0 li-bullet-0"><span class="c2">Else, click on &ldquo;Cancel&rdquo;</span></li>
    </ul>
    <p class="c10"><span class="c7">IMPORTANT: If there a projects related to the type that you are deleting, all of
            those projects will be deleted as well</span></p>
    <ul class="c1 lst-kix_nispgcqkwcd3-0">
        <li class="c5 li-bullet-0"><span class="c2">Project</span></li>
    </ul>
    <ul class="c1 lst-kix_nispgcqkwcd3-1 start">
        <li class="c4 li-bullet-0"><span class="c2">What is a Project</span></li>
    </ul>
    <ol class="c1 lst-kix_nispgcqkwcd3-2 start" start="1">
        <li class="c3 li-bullet-0"><span class="c2">Given that this company is a sound mixing company, a project is any
                product that you work on for the client</span></li>
    </ol>
    <ul class="c1 lst-kix_nispgcqkwcd3-1">
        <li class="c4 li-bullet-0"><span class="c2">Creating a Project</span></li>
    </ul>
    <ol class="c1 lst-kix_nispgcqkwcd3-2 start" start="1">
        <li class="c3 li-bullet-0"><span class="c2">Steps</span></li>
    </ol>
    <ul class="c1 lst-kix_nispgcqkwcd3-3 start">
        <li class="c0 li-bullet-0"><span class="c2">Start at the admin page</span></li>
        <li class="c0 li-bullet-0"><span class="c2">Scroll all the way down to the bottom</span></li>
        <li class="c0 li-bullet-0"><span class="c2">Click on the &lsquo;New Project&rsquo; link</span></li>
        <li class="c0 li-bullet-0"><span class="c2">Fill out the text box labeled &ldquo;Project Name&rdquo; with the
                name of the project the company has worked on</span></li>
        <li class="c0 li-bullet-0"><span class="c2">Optionally fill out the text box labeled &ldquo;Link to
                Project&rdquo; with the link to the project</span></li>
        <li class="c0 li-bullet-0"><span class="c2">Optionally fill out the text box labeled &ldquo;Project Owner&rdquo;
                with the name of the owner</span></li>
        <li class="c0 li-bullet-0"><span class="c2">Select the start and end dates of the project</span></li>
    </ul>
    <ul class="c1 lst-kix_nispgcqkwcd3-4 start">
        <li class="c6 li-bullet-0"><span class="c2">Start is when you started working on the project</span></li>
        <li class="c6 li-bullet-0"><span class="c2">End is when you completes the project</span></li>
    </ul>
    <ul class="c1 lst-kix_nispgcqkwcd3-3">
        <li class="c0 li-bullet-0"><span class="c2">Optionally fill out the text box labeled &ldquo;Description&rdquo;
                with text that summarizes what the project is</span></li>
        <li class="c0 li-bullet-0"><span class="c2">Optionally click on the &lsquo;Project Cover&rsquo; button to attach
                a photo to the project</span></li>
        <li class="c0 li-bullet-0"><span class="c2">Select the Project Type</span></li>
    </ul>
    <ul class="c1 lst-kix_nispgcqkwcd3-4 start">
        <li class="c6 li-bullet-0"><span class="c2">If a type does not exist from the drop down, you will have to create
                that new type first</span></li>
    </ul>
    <ul class="c1 lst-kix_nispgcqkwcd3-3">
        <li class="c0 li-bullet-0"><span class="c2">Finally, click on the &lsquo;Create Project&rsquo; button </span>
        </li>
        <li class="c0 li-bullet-0"><span class="c2">Click on the &lsquo;Back&rsquo; link to go back to the admin
                page</span></li>
    </ul>
    <ul class="c1 lst-kix_nispgcqkwcd3-1">
        <li class="c4 li-bullet-0"><span class="c2">Editing a Project</span></li>
    </ul>
    <ol class="c1 lst-kix_nispgcqkwcd3-2 start" start="1">
        <li class="c3 li-bullet-0"><span class="c2">Let&#39;s say there is a project that already exists, but you want
                to make some changes</span></li>
    </ol>
    <ul class="c1 lst-kix_nispgcqkwcd3-3 start">
        <li class="c0 li-bullet-0"><span class="c2">I.e. attach a new image or even change the name</span></li>
    </ul>
    <ol class="c1 lst-kix_nispgcqkwcd3-2" start="2">
        <li class="c3 li-bullet-0"><span class="c2">Steps</span></li>
    </ol>
    <ul class="c1 lst-kix_nispgcqkwcd3-3 start">
        <li class="c0 li-bullet-0"><span class="c2">From the &lsquo;Admin&rsquo; page, find the project you are looking
                for and click on the &lsquo;Edit&rsquo; link</span></li>
        <li class="c0 li-bullet-0"><span class="c2">Fill out all the changes necessary as if you were creating a new
                project</span></li>
        <li class="c0 li-bullet-0"><span class="c2">Click on the &lsquo;Create Project&rsquo; button</span></li>
        <li class="c0 li-bullet-0"><span class="c2">Then click on the &lsquo;Back&rsquo; link to go back to the Admin
                page</span></li>
    </ul>
    <ul class="c1 lst-kix_nispgcqkwcd3-1">
        <li class="c4 li-bullet-0"><span class="c2">Destroying a type</span></li>
    </ul>
    <ol class="c1 lst-kix_nispgcqkwcd3-2 start" start="1">
        <li class="c3 li-bullet-0"><span class="c2">Let&rsquo;s say that a Project is not relevant to you anymore and
                you want to delete it</span></li>
        <li class="c3 li-bullet-0"><span class="c2">Steps</span></li>
    </ol>
    <ul class="c1 lst-kix_nispgcqkwcd3-3 start">
        <li class="c0 li-bullet-0"><span class="c2">From the &lsquo;Admin&rsquo; page, find the project you are looking
                for and click on &lsquo;Delete&rsquo; link</span></li>
        <li class="c0 li-bullet-0"><span class="c2">This will bring up a prompt asking you if you are sure you want to
                delete</span></li>
        <li class="c0 li-bullet-0"><span class="c2">If you are sure, click on &ldquo;OK&rdquo;</span></li>
        <li class="c0 li-bullet-0"><span class="c2">Else, click on &ldquo;Cancel&rdquo;</span></li>
    </ul>
    <ul class="c1 lst-kix_nispgcqkwcd3-0">
        <li class="c5 li-bullet-0"><span class="c2">Contribution</span></li>
    </ul>
    <ul class="c1 lst-kix_nispgcqkwcd3-1 start">
        <li class="c4 li-bullet-0"><span class="c2">What is a Contribution</span></li>
    </ul>
    <ol class="c1 lst-kix_nispgcqkwcd3-2 start" start="1">
        <li class="c3 li-bullet-0"><span class="c2">Sometimes you want to specify how you contributed to a
                project</span></li>
    </ol>
    <ul class="c1 lst-kix_nispgcqkwcd3-3 start">
        <li class="c0 li-bullet-0"><span class="c2">I.e. you mastered it, produced it, etc</span></li>
        <li class="c0 li-bullet-0"><span class="c2">You can do that with contribution</span></li>
    </ul>
    <ul class="c1 lst-kix_nispgcqkwcd3-1">
        <li class="c4 li-bullet-0"><span class="c2">Creating a Contribution</span></li>
    </ul>
    <ol class="c1 lst-kix_nispgcqkwcd3-2 start" start="1">
        <li class="c3 li-bullet-0"><span class="c2">If a contribution does not already exist, you can create a new
                one</span></li>
        <li class="c3 li-bullet-0"><span class="c2">Steps</span></li>
    </ol>
    <ul class="c1 lst-kix_nispgcqkwcd3-3 start">
        <li class="c0 li-bullet-0"><span class="c2">Start at the admin page</span></li>
        <li class="c0 li-bullet-0"><span class="c2">Scroll all the way down to the bottom</span></li>
        <li class="c0 li-bullet-0"><span class="c2">Click on the &lsquo;Contributions&rsquo; link</span></li>
        <li class="c0 li-bullet-0"><span class="c2">From that page, go to the bottom and click on the &lsquo;New
                Contribution Link&rsquo;</span></li>
        <li class="c0 li-bullet-0"><span class="c2">Fill out the text box labeled &lsquo;Contribution Type&rsquo; with
                your new type</span></li>
        <li class="c0 li-bullet-0"><span class="c2">Finally, click on &lsquo;Create Contribution&rsquo;</span></li>
        <li class="c0 li-bullet-0"><span class="c2">Click on the back again to go back to the Admin page</span></li>
    </ul>
    <ul class="c1 lst-kix_nispgcqkwcd3-1">
        <li class="c4 li-bullet-0"><span class="c2">Editing a Contribution</span></li>
    </ul>
    <ol class="c1 lst-kix_nispgcqkwcd3-2 start" start="1">
        <li class="c3 li-bullet-0"><span class="c2">Let&#39;s say there is a contribution that already exists, but you
                want to make some changes</span></li>
    </ol>
    <ul class="c1 lst-kix_nispgcqkwcd3-3 start">
        <li class="c0 li-bullet-0"><span class="c2">I.e. change the name</span></li>
    </ul>
    <ol class="c1 lst-kix_nispgcqkwcd3-2" start="2">
        <li class="c3 li-bullet-0"><span class="c2">Steps</span></li>
    </ol>
    <ul class="c1 lst-kix_nispgcqkwcd3-3 start">
        <li class="c0 li-bullet-0"><span class="c2">From the &lsquo;Contributions&rsquo; page, find the type you are
                looking for and click on the &lsquo;Edit&rsquo; link</span></li>
        <li class="c0 li-bullet-0"><span class="c2">Fill out all the changes necessary as if you were creating a new
                type</span></li>
        <li class="c0 li-bullet-0"><span class="c2">Click on the &lsquo;Create Contribution&rsquo; button</span></li>
        <li class="c0 li-bullet-0"><span class="c2">Then click on the &lsquo;Back&rsquo; link to go back to the
                Contribution page</span></li>
        <li class="c0 li-bullet-0"><span class="c2">Click on the back link again to go back to the Admin page</span>
        </li>
    </ul>
    <ul class="c1 lst-kix_nispgcqkwcd3-1">
        <li class="c4 li-bullet-0"><span class="c2">Destroying a Contribution</span></li>
    </ul>
    <ol class="c1 lst-kix_nispgcqkwcd3-2 start" start="1">
        <li class="c3 li-bullet-0"><span class="c2">Let&rsquo;s say that a contribution is not relevant to you anymore
                and you want to delete it</span></li>
        <li class="c3 li-bullet-0"><span class="c2">Steps</span></li>
    </ol>
    <ul class="c1 lst-kix_nispgcqkwcd3-3 start">
        <li class="c0 li-bullet-0"><span class="c2">From the &lsquo;Contributions&rsquo; page, find the type you are
                looking for and click on &lsquo;Delete&rsquo; link</span></li>
        <li class="c0 li-bullet-0"><span class="c2">This will bring up a prompt asking you if you are sure you want to
                delete</span></li>
        <li class="c0 li-bullet-0"><span class="c2">If you are sure, click on &ldquo;OK&rdquo;</span></li>
        <li class="c0 li-bullet-0"><span class="c2">Else, click on &ldquo;Cancel&rdquo;</span></li>
    </ul>
    <ul class="c1 lst-kix_nispgcqkwcd3-0">
        <li class="c5 li-bullet-0"><span class="c2">Displayline</span></li>
    </ul>
    <ul class="c1 lst-kix_nispgcqkwcd3-1 start">
        <li class="c4 li-bullet-0"><span class="c2">What is a Display Line</span></li>
    </ul>
    <ol class="c1 lst-kix_nispgcqkwcd3-2 start" start="1">
        <li class="c3 li-bullet-0"><span class="c2">A Display Line is used to give more information about a project in
                terms of contributions</span></li>
    </ol>
    <ul class="c1 lst-kix_nispgcqkwcd3-1">
        <li class="c4 li-bullet-0"><span class="c2">Creating a Display Line</span></li>
    </ul>
    <ol class="c1 lst-kix_nispgcqkwcd3-2 start" start="1">
        <li class="c3 li-bullet-0"><span class="c2">Steps</span></li>
    </ol>
    <ul class="c1 lst-kix_nispgcqkwcd3-3 start">
        <li class="c0 li-bullet-0"><span class="c2">Start at the admin page</span></li>
        <li class="c0 li-bullet-0"><span class="c2">Scroll all the way down to the bottom</span></li>
        <li class="c0 li-bullet-0"><span class="c2">Click on the &lsquo;Display Lines&rsquo; link</span></li>
        <li class="c0 li-bullet-0"><span class="c2">From that page, go to the bottom and click on the &lsquo;New Display
                Line&rsquo; link</span></li>
        <li class="c0 li-bullet-0"><span class="c2">Fill out the text box labeled &lsquo;Component Contributed&rsquo;
                with the part of the project you worked on</span></li>
        <li class="c0 li-bullet-0"><span class="c2">Select a start and end date</span></li>
        <li class="c0 li-bullet-0"><span class="c2">From the &lsquo;Select Project&rsquo; dropdown, select the Project
                that will be associated with the display line</span></li>
        <li class="c0 li-bullet-0"><span>From the &lsquo;</span><span class="c13">Select Contribution Type</span><span
                class="c2">&rsquo; dropdown, select the contribution that will be associated with the the project</span>
        </li>
    </ul>
    <ul class="c1 lst-kix_nispgcqkwcd3-4 start">
        <li class="c6 li-bullet-0"><span class="c2">If a contribution does not exist from the drop down, you will have
                to create that new contribution first</span></li>
    </ul>
    <ul class="c1 lst-kix_nispgcqkwcd3-3">
        <li class="c0 li-bullet-0"><span class="c2">Finally, click on the &lsquo;Create Display line&rsquo;
                button</span></li>
        <li class="c0 li-bullet-0"><span class="c2">Click on the back link to go back to the Display Lines page</span>
        </li>
        <li class="c0 li-bullet-0"><span class="c2">Click on the back link to go back to the Admin page</span></li>
    </ul>
    <ul class="c1 lst-kix_nispgcqkwcd3-1">
        <li class="c4 li-bullet-0"><span class="c2">Editing a Display Line</span></li>
    </ul>
    <ol class="c1 lst-kix_nispgcqkwcd3-2 start" start="1">
        <li class="c3 li-bullet-0"><span class="c2">Let&#39;s say there is a display line that already exists, but you
                want to make some changes</span></li>
    </ol>
    <ul class="c1 lst-kix_nispgcqkwcd3-3 start">
        <li class="c0 li-bullet-0"><span class="c2">I.e. change the component, project name, etc</span></li>
    </ul>
    <ol class="c1 lst-kix_nispgcqkwcd3-2" start="2">
        <li class="c3 li-bullet-0"><span class="c2">Steps</span></li>
    </ol>
    <ul class="c1 lst-kix_nispgcqkwcd3-3 start">
        <li class="c0 li-bullet-0"><span class="c2">From the &lsquo;Display Lines&rsquo; page, find the display line you
                are looking for and click on the &lsquo;Edit&rsquo; link</span></li>
        <li class="c0 li-bullet-0"><span class="c2">Fill out all the changes necessary as if you were creating a new
                display line</span></li>
        <li class="c0 li-bullet-0"><span class="c2">Click on the &lsquo;Create Display line&rsquo; button</span></li>
        <li class="c0 li-bullet-0"><span class="c2">Then click on the &lsquo;Back&rsquo; link to go back to the Display
                Lines page</span></li>
        <li class="c0 li-bullet-0"><span class="c2">Click on the back link again to go back to the Admin page</span>
        </li>
    </ul>
    <ul class="c1 lst-kix_nispgcqkwcd3-1">
        <li class="c4 li-bullet-0"><span class="c2">Destroying a Contribution</span></li>
    </ul>
    <ol class="c1 lst-kix_nispgcqkwcd3-2 start" start="1">
        <li class="c3 li-bullet-0"><span class="c2">Let&rsquo;s say that a display is not relevant to you anymore and
                you want to delete it</span></li>
        <li class="c3 li-bullet-0"><span class="c2">Steps</span></li>
    </ol>
    <ul class="c1 lst-kix_nispgcqkwcd3-3 start">
        <li class="c0 li-bullet-0"><span class="c2">From the &lsquo;Display Lines&rsquo; page, find the display line you
                are looking for and click on &lsquo;Delete&rsquo; link</span></li>
        <li class="c0 li-bullet-0"><span class="c2">This will bring up a prompt asking you if you are sure you want to
                delete</span></li>
        <li class="c0 li-bullet-0"><span class="c2">If you are sure, click on &ldquo;OK&rdquo;</span></li>
        <li class="c0 li-bullet-0"><span class="c2">Else, click on &ldquo;Cancel&rdquo;</span></li>
    </ul>
    <ul class="c1 lst-kix_nispgcqkwcd3-0">
        <li class="c5 li-bullet-0"><span class="c2">Awards</span></li>
    </ul>
    <ul class="c1 lst-kix_nispgcqkwcd3-1 start">
        <li class="c4 li-bullet-0"><span class="c2">What is an Award</span></li>
    </ul>
    <ol class="c1 lst-kix_nispgcqkwcd3-2 start" start="1">
        <li class="c3 li-bullet-0"><span class="c2">An Award is exactly what it sounds like. To be specific, an award is
                used to give more information about about the project</span></li>
    </ol>
    <ul class="c1 lst-kix_nispgcqkwcd3-1">
        <li class="c4 li-bullet-0"><span class="c2">Creating an Award</span></li>
    </ul>
    <ol class="c1 lst-kix_nispgcqkwcd3-2 start" start="1">
        <li class="c3 li-bullet-0"><span class="c2">Steps</span></li>
    </ol>
    <ul class="c1 lst-kix_nispgcqkwcd3-3 start">
        <li class="c0 li-bullet-0"><span class="c2">Start at the admin page</span></li>
        <li class="c0 li-bullet-0"><span class="c2">Scroll all the way down to the bottom</span></li>
        <li class="c0 li-bullet-0"><span class="c2">Click on the &lsquo;Awards&rsquo; link</span></li>
        <li class="c0 li-bullet-0"><span class="c2">From that page, go to the bottom and click on the &lsquo;New
                Award&rsquo; link</span></li>
        <li class="c0 li-bullet-0"><span class="c2">Fill out the text box labeled &lsquo;Award Name&rsquo; with the name
                of said award</span></li>
        <li class="c0 li-bullet-0"><span class="c2">Optionally, fill out the text box labeled &lsquo;link to
                Award&rsquo; with the link</span></li>
        <li class="c0 li-bullet-0"><span class="c2">Select when the year when the award was given out</span></li>
        <li class="c0 li-bullet-0"><span class="c2">Click on &lsquo;Create Award&rsquo; button</span></li>
        <li class="c0 li-bullet-0"><span class="c2">Click on the &lsquo;Back&rsquo; link to go back to the Awards</span>
        </li>
        <li class="c0 li-bullet-0"><span class="c2">Click on the &lsquo;Back&rsquo; link to go back to the Admin
                page</span></li>
    </ul>
    <ul class="c1 lst-kix_nispgcqkwcd3-1">
        <li class="c4 li-bullet-0"><span class="c2">Editing an Award</span></li>
    </ul>
    <ol class="c1 lst-kix_nispgcqkwcd3-2 start" start="1">
        <li class="c3 li-bullet-0"><span class="c2">Let&#39;s say there is an award that already exists, but you want to
                make some changes</span></li>
    </ol>
    <ul class="c1 lst-kix_nispgcqkwcd3-3 start">
        <li class="c0 li-bullet-0"><span class="c2">I.e. change the award name</span></li>
    </ul>
    <ol class="c1 lst-kix_nispgcqkwcd3-2" start="2">
        <li class="c3 li-bullet-0"><span class="c2">Steps</span></li>
    </ol>
    <ul class="c1 lst-kix_nispgcqkwcd3-3 start">
        <li class="c0 li-bullet-0"><span class="c2">From the &lsquo;Awards&rsquo; page, find the award you are looking
                for and click on the &lsquo;Edit&rsquo; link</span></li>
        <li class="c0 li-bullet-0"><span class="c2">Fill out all the changes necessary as if you were creating a new
                award</span></li>
        <li class="c0 li-bullet-0"><span class="c2">Click on the &lsquo;Create Award&rsquo; button</span></li>
        <li class="c0 li-bullet-0"><span class="c2">Then click on the &lsquo;Back&rsquo; link to go back to the Awards
                page</span></li>
        <li class="c0 li-bullet-0"><span class="c2">Click on the back link again to go back to the Admin page</span>
        </li>
    </ul>
    <ul class="c1 lst-kix_nispgcqkwcd3-1">
        <li class="c4 li-bullet-0"><span class="c2">Destroying an Award</span></li>
    </ul>
    <ol class="c1 lst-kix_nispgcqkwcd3-2 start" start="1">
        <li class="c3 li-bullet-0"><span class="c2">Let&rsquo;s say that an award is not relevant to you anymore and you
                want to delete it</span></li>
        <li class="c3 li-bullet-0"><span class="c2">Steps</span></li>
    </ol>
    <ul class="c1 lst-kix_nispgcqkwcd3-3 start">
        <li class="c0 li-bullet-0"><span class="c2">From the &lsquo;Awards&rsquo; page, find the display line you are
                looking for and click on &lsquo;Delete&rsquo; link</span></li>
        <li class="c0 li-bullet-0"><span class="c2">This will bring up a prompt asking you if you are sure you want to
                delete</span></li>
        <li class="c0 li-bullet-0"><span class="c2">If you are sure, click on &ldquo;OK&rdquo;</span></li>
        <li class="c0 li-bullet-0"><span class="c2">Else, click on &ldquo;Cancel&rdquo;</span></li>
    </ul>
    <p class="c10"><span class="c7">IMPORTANT: If there a project awards (below) related to the award that you are
            deleting, all of those project awards will be deleted as well</span></p>
    <p class="c10 c12"><span class="c2"></span></p>
    <ul class="c1 lst-kix_nispgcqkwcd3-0">
        <li class="c5 li-bullet-0"><span class="c2">Project Awards</span></li>
    </ul>
    <ul class="c1 lst-kix_nispgcqkwcd3-1 start">
        <li class="c4 li-bullet-0"><span class="c2">Explain what a Project Award is</span></li>
    </ul>
    <ol class="c1 lst-kix_nispgcqkwcd3-2 start" start="1">
        <li class="c3 li-bullet-0"><span class="c2">A Project Award allows us to associate an existing award to an
                existing project</span></li>
    </ol>
    <ul class="c1 lst-kix_nispgcqkwcd3-1">
        <li class="c4 li-bullet-0"><span class="c2">Creating a Project Award</span></li>
    </ul>
    <ol class="c1 lst-kix_nispgcqkwcd3-2 start" start="1">
        <li class="c3 li-bullet-0"><span class="c2">Steps</span></li>
    </ol>
    <ul class="c1 lst-kix_nispgcqkwcd3-3 start">
        <li class="c0 li-bullet-0"><span class="c2">Start at the admin page</span></li>
        <li class="c0 li-bullet-0"><span class="c2">Scroll all the way down to the bottom</span></li>
        <li class="c0 li-bullet-0"><span class="c2">Click on the &lsquo;Project Awards&rsquo; link</span></li>
        <li class="c0 li-bullet-0"><span class="c2">From that page, go to the bottom and click on the &lsquo;Award
                Project&rsquo; link</span></li>
        <li class="c0 li-bullet-0"><span class="c2">Select the date that the award was given to the specified
                project</span></li>
        <li class="c0 li-bullet-0"><span class="c2">From the &lsquo;Award Name&rsquo; dropdown, select the specific
                award</span></li>
    </ul>
    <ul class="c1 lst-kix_nispgcqkwcd3-4 start">
        <li class="c6 li-bullet-0"><span class="c2">If an award does not exist in the drop down, you will need to create
                the award first </span></li>
    </ul>
    <ul class="c1 lst-kix_nispgcqkwcd3-3">
        <li class="c0 li-bullet-0"><span class="c2">From the &lsquo;Project Name&rsquo; drop down, select the specific
                project that was given said award</span></li>
    </ul>
    <ul class="c1 lst-kix_nispgcqkwcd3-4 start">
        <li class="c6 li-bullet-0"><span class="c2">If a project does not exist in the drop down, you will need to
                create the project first</span></li>
    </ul>
    <ul class="c1 lst-kix_nispgcqkwcd3-3">
        <li class="c0 li-bullet-0"><span class="c2">Click on &lsquo;Create Awarded&rsquo; button</span></li>
        <li class="c0 li-bullet-0"><span class="c2">Click on the &lsquo;Back&rsquo; link to go back to the Awarded
                Projects page</span></li>
        <li class="c0 li-bullet-0"><span class="c2">Click on the &lsquo;Back&rsquo; link to go back to the Admin
                page</span></li>
    </ul>
    <ul class="c1 lst-kix_nispgcqkwcd3-1">
        <li class="c4 li-bullet-0"><span class="c2">Editing a Project Awards</span></li>
    </ul>
    <ol class="c1 lst-kix_nispgcqkwcd3-2 start" start="1">
        <li class="c3 li-bullet-0"><span class="c2">Let&#39;s say there is a project award that already exists, but you
                want to make some changes</span></li>
    </ol>
    <ul class="c1 lst-kix_nispgcqkwcd3-3 start">
        <li class="c0 li-bullet-0"><span class="c2">I.e. select a different award, select a different project,
                etc.</span></li>
    </ul>
    <ol class="c1 lst-kix_nispgcqkwcd3-2" start="2">
        <li class="c3 li-bullet-0"><span class="c2">Steps</span></li>
    </ol>
    <ul class="c1 lst-kix_nispgcqkwcd3-3 start">
        <li class="c0 li-bullet-0"><span class="c2">From the &lsquo;Awarded Projects&rsquo; page, find the project award
                you are looking for and click on the &lsquo;Edit&rsquo; link</span></li>
        <li class="c0 li-bullet-0"><span class="c2">Fill out all the changes necessary as if you were creating a new
                project award</span></li>
        <li class="c0 li-bullet-0"><span class="c2">Click on the &lsquo;Create Awarded&rsquo; button</span></li>
        <li class="c0 li-bullet-0"><span class="c2">Then click on the &lsquo;Back&rsquo; link to go back to the Awarded
                Projects page</span></li>
        <li class="c0 li-bullet-0"><span class="c2">Click on the back link again to go back to the Admin page</span>
        </li>
    </ul>
    <ul class="c1 lst-kix_nispgcqkwcd3-1">
        <li class="c4 li-bullet-0"><span class="c2">Destroying an Project Awards</span></li>
    </ul>
    <ol class="c1 lst-kix_nispgcqkwcd3-2 start" start="1">
        <li class="c3 li-bullet-0"><span class="c2">Let&rsquo;s say that a project award is not relevant to you anymore
                and you want to delete it</span></li>
        <li class="c3 li-bullet-0"><span class="c2">Steps</span></li>
    </ol>
    <ul class="c1 lst-kix_nispgcqkwcd3-3 start">
        <li class="c0 li-bullet-0"><span class="c2">From the &lsquo;Awarded Projects&rsquo; page, find the awarded
                project you are looking for and click on &lsquo;Delete&rsquo; link</span></li>
        <li class="c0 li-bullet-0"><span class="c2">This will bring up a prompt asking you if you are sure you want to
                delete</span></li>
        <li class="c0 li-bullet-0"><span class="c2">If you are sure, click on &ldquo;OK&rdquo;</span></li>
        <li class="c0 li-bullet-0"><span class="c2">Else, click on &ldquo;Cancel&rdquo;</span></li>
    </ul>
    <p class="c9 c14"><span class="c2"></span></p>
    <p class="c9"><span
            style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 624.00px; height: 373.33px;"><img
                alt="" src="/OrderToCreateAProjectDiagram.png"
                style="width: 624.00px; height: 373.33px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);"
                title=""></span></p>
</body>

</html>