<html>

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <style type="text/css">
        .lst-kix_pu2agowbzaaz-6>li:before {
            content: "\0025cf  "
        }

        .lst-kix_pu2agowbzaaz-5>li:before {
            content: "\0025a0  "
        }

        .lst-kix_pu2agowbzaaz-2>li:before {
            content: ""counter(lst-ctn-kix_pu2agowbzaaz-2, decimal) ". "
        }

        .lst-kix_pu2agowbzaaz-4>li:before {
            content: "\0025cb  "
        }

        li.li-bullet-0:before {
            margin-left: -18pt;
            white-space: nowrap;
            display: inline-block;
            min-width: 18pt
        }

        ol.lst-kix_pu2agowbzaaz-2.start {
            counter-reset: lst-ctn-kix_pu2agowbzaaz-2 0
        }

        .lst-kix_pu2agowbzaaz-3>li:before {
            content: "\0025cf  "
        }

        ul.lst-kix_pu2agowbzaaz-8 {
            list-style-type: none
        }

        ul.lst-kix_pu2agowbzaaz-7 {
            list-style-type: none
        }

        ul.lst-kix_pu2agowbzaaz-6 {
            list-style-type: none
        }

        ul.lst-kix_pu2agowbzaaz-5 {
            list-style-type: none
        }

        ul.lst-kix_pu2agowbzaaz-4 {
            list-style-type: none
        }

        .lst-kix_pu2agowbzaaz-1>li:before {
            content: "\0025cb  "
        }

        ul.lst-kix_pu2agowbzaaz-3 {
            list-style-type: none
        }

        ul.lst-kix_pu2agowbzaaz-1 {
            list-style-type: none
        }

        ul.lst-kix_pu2agowbzaaz-0 {
            list-style-type: none
        }

        .lst-kix_pu2agowbzaaz-0>li:before {
            content: "\0025cf  "
        }

        .lst-kix_pu2agowbzaaz-8>li:before {
            content: "\0025a0  "
        }

        .lst-kix_pu2agowbzaaz-7>li:before {
            content: "\0025cb  "
        }

        ol.lst-kix_pu2agowbzaaz-2 {
            list-style-type: none
        }

        .lst-kix_pu2agowbzaaz-2>li {
            counter-increment: lst-ctn-kix_pu2agowbzaaz-2
        }

        ol {
            margin: 0;
            padding: 0
        }

        table td,
        table th {
            padding: 0
        }

        .c4 {
            margin-left: 72pt;
            padding-top: 0pt;
            padding-left: 0pt;
            padding-bottom: 0pt;
            line-height: 1.15;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c1 {
            margin-left: 108pt;
            padding-top: 0pt;
            padding-left: 0pt;
            padding-bottom: 0pt;
            line-height: 1.15;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c7 {
            margin-left: 36pt;
            padding-top: 0pt;
            padding-left: 0pt;
            padding-bottom: 0pt;
            line-height: 1.15;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c0 {
            margin-left: 144pt;
            padding-top: 0pt;
            padding-left: 0pt;
            padding-bottom: 0pt;
            line-height: 1.15;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c8 {
            color: white;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 26pt;
            font-family: "Arial";
            font-style: normal
        }

        .c6 {
            padding-top: 0pt;
            padding-bottom: 3pt;
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: center
        }

        .c2 {
            color: white;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Arial";
            font-style: normal
        }

        .c5 {
            background-color: #ffffff;
            max-width: 468pt;
            padding: 72pt 72pt 72pt 72pt
        }

        .c3 {
            padding: 0;
            margin: 0
        }

        .title {
            padding-top: 0pt;
            color: white;
            font-size: 26pt;
            padding-bottom: 3pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .subtitle {
            padding-top: 0pt;
            color: #666666;
            font-size: 15pt;
            padding-bottom: 16pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        li {
            color: white;
            font-size: 11pt;
            font-family: "Arial"
        }

        p {
            margin: 0;
            color: white;
            font-size: 11pt;
            font-family: "Arial"
        }

        h1 {
            padding-top: 20pt;
            color: white;
            font-size: 20pt;
            padding-bottom: 6pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h2 {
            padding-top: 18pt;
            color: white;
            font-size: 16pt;
            padding-bottom: 6pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h3 {
            padding-top: 16pt;
            color: #434343;
            font-size: 14pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h4 {
            padding-top: 14pt;
            color: #666666;
            font-size: 12pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h5 {
            padding-top: 12pt;
            color: #666666;
            font-size: 11pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h6 {
            padding-top: 12pt;
            color: #666666;
            font-size: 11pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            font-style: italic;
            orphans: 2;
            widows: 2;
            text-align: left
        }
    </style>
</head>

<body class="c5">
    <div class="text-end">
        <%= link_to 'Back', projects_public_path, class: "a-primary" %>
    </div>
    <p class="c6 title" id="h.9hpyvvxnml6p"><span class="c8">User Help Page</span></p>
    <ul class="c3 lst-kix_pu2agowbzaaz-0 start">
        <li class="c7 li-bullet-0"><span class="c2">UI</span></li>
    </ul>
    <ul class="c3 lst-kix_pu2agowbzaaz-1 start">
        <li class="c4 li-bullet-0"><span class="c2">How to filter by contributions/types.</span></li>
    </ul>
    <ol class="c3 lst-kix_pu2agowbzaaz-2 start" start="1">
        <li class="c1 li-bullet-0"><span class="c2">Click on the &ldquo;Filter&rdquo; button in the top left of the
                page.</span></li>
    </ol>
    <ul class="c3 lst-kix_pu2agowbzaaz-3 start">
        <li class="c0 li-bullet-0"><span class="c2">A side bar containing all available Types and Contributions should
                show up on the left of the page.</span></li>
    </ul>
    <ol class="c3 lst-kix_pu2agowbzaaz-2" start="2">
        <li class="c1 li-bullet-0"><span class="c2">Select the checkboxes of the types and/or contributions you want to
                see.</span></li>
        <li class="c1 li-bullet-0"><span class="c2">Click on the &ldquo;Search&rdquo; button to filter the
                projects.</span></li>
    </ol>
    <ul class="c3 lst-kix_pu2agowbzaaz-3 start">
        <li class="c0 li-bullet-0"><span class="c2">Note: if there are no projects that match the criteria, no projects
                will be shown.</span></li>
    </ul>
    <ul class="c3 lst-kix_pu2agowbzaaz-1">
        <li class="c4 li-bullet-0"><span class="c2">How to remove the current filter and display all projects.</span>
        </li>
    </ul>
    <ol class="c3 lst-kix_pu2agowbzaaz-2 start" start="1">
        <li class="c1 li-bullet-0"><span class="c2">Click on the &ldquo;Filter&rdquo; button in the top left of the
                page.</span></li>
    </ol>
    <ul class="c3 lst-kix_pu2agowbzaaz-3 start">
        <li class="c0 li-bullet-0"><span class="c2">A side bar containing all available Types and Contributions should
                show up on the left of the page.</span></li>
    </ul>
    <ol class="c3 lst-kix_pu2agowbzaaz-2" start="2">
        <li class="c1 li-bullet-0"><span class="c2">Deselect the checkboxes of the types and contributions if any are
                selected.</span></li>
        <li class="c1 li-bullet-0"><span class="c2">Click on the &ldquo;Search&rdquo; button.</span></li>
        <li class="c1 li-bullet-0"><span class="c2">All projects should now be shown.</span></li>
    </ol>
    <ul class="c3 lst-kix_pu2agowbzaaz-1">
        <li class="c4 li-bullet-0"><span class="c2">Find project information and details.</span></li>
    </ul>
    <ol class="c3 lst-kix_pu2agowbzaaz-2 start" start="1">
        <li class="c1 li-bullet-0"><span class="c2">Click on the thumbnail/cover of the project you would like to know
                more about.</span></li>
        <li class="c1 li-bullet-0"><span class="c2">A pop-up window will appear that contains all the information
                related to the project.</span></li>
    </ol>
    <ul class="c3 lst-kix_pu2agowbzaaz-3 start">
        <li class="c0 li-bullet-0"><span class="c2">Includes: Description, Awards, Contributions, Type, and Link.</span>
        </li>
    </ul>
</body>

</html>