<p id="notice"><%= notice %></p>

<p>
  <strong>Contributiontype:</strong>
  <%= @contribution.ContributionType %>
</p>

<%= link_to 'Edit', edit_contribution_path(@contribution) %> |
<%= link_to 'Back', contributions_path %>
