/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @font-face {
    font-family: 'Josefin-Sans';
    src: url('JosefinSans-Regular.ttf');
 }

 @font-face {
    font-family: 'Open-Sans';
    src: url('OpenSans-Regular.ttf');
 }

 .ray-1st-line {
    -webkit-text-size-adjust: 100%;
    overflow-wrap: break-word;
    --sqs-site-gutter: 4vw;
    --sqs-site-max-width: 1200px;
    -webkit-font-smoothing: antialiased;
    font-family: 'Josefin-Sans';
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0em;
    text-transform: none;
    line-height: 1.232;
    font-size: calc((4 - 1) * 1.2vw + 1rem);
    margin: 2rem 0;
    color: #fff;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    white-space: pre-wrap;
 }

 .ray-2nd-line {
    -webkit-text-size-adjust: 100%;
    --sqs-site-gutter: 4vw;
    --sqs-site-max-width: 1200px;
    -webkit-font-smoothing: antialiased;
    font-family: 'Josefin-Sans';
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0em;
    text-transform: none;
    line-height: 1.3664;
    font-size: calc((1.6 - 1) * 1.2vw + 1rem);
    margin: 2rem 0;
    color: #fff;
    word-wrap: break-word;
    margin-top: 0;
    text-align: center;
    white-space: pre-wrap;
 }

 .ray-3rd-line {
    -webkit-text-size-adjust: 100%;
    --sqs-site-gutter: 4vw;
    --sqs-site-max-width: 1200px;
    font-family: 'Open-Sans';
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0em;
    text-transform: none;
    line-height: 1.8;
    -webkit-font-smoothing: antialiased;
    font-size: calc((1 - 1) * 1.2vw + 1rem);
    margin: 1rem 0;
    color: #fff;
    word-wrap: break-word;
    margin-bottom: 0;
    text-align: center;
    white-space: pre-wrap;
 }

 .font-ray {
    font-family: 'Josefin Sans';
}
 .nav-bar-width-ray {
    width: 200px!important;
 }
 .white-background-ray {
     background-color: white!important;
 }
 .blue-outline-ray {
    outline: 3px solid black!important;
}
 .blue-background-ray {
     background-color: #00649A!important;
 }
 .grey-background-ray {
     background-color: #1a1a1a!important;
 }
 .white-ray {
     color: white;
 }
 .grey-ray {
     color: #4D4D4D;
 }
 .black-ray {
     color: black;
 }
 .black-background-ray {
     background-color: black;
 }
 .transparent-ray {
     background-color: transparent!important;
 }
 .card-img-top1 {
    width: 100%;
    height: 100%;
    object-fit: fill;
    padding: 0px;
    box-shadow: 5px 10px 8px 0px #000000
}
 .border-none {
    border: 0px!important;
 }
 
 ::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(200,200,200,1);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color:#fff;
    -webkit-box-shadow: inset 0 0 6px rgba(90,90,90,0.7);
}

.a-primary {
    color: black;

}