/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .font-ray {
    font-family: 'Josefin Sans';
}
 .white-background-ray {
     background-color: white!important;
 }
 .blue-outline-ray {
    outline: 3px solid black!important;
}
 .blue-ray {
     background-color: #00649A!important;
 }
 .grey-background-ray {
     background-color: #919191!important;
 }
 .white-ray {
     color: white;
 }
 .grey-ray {
     color: #4D4D4D;
 }
 .black-ray {
     color: black;
 }
 .black-background-ray {
     background-color: black;
 }
 .card-img-top1 {
    width: 100px;
    height: 100px;
    object-fit: cover;
}
  
/* The sidebar menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }
  
  /* The button used to open the sidebar */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }

  .offcanvas-start {
    background-color: black!important;
    color: white;
}